// html{
//   height: 100%;
// }

  .chat_side{
    background: #2f3e51;
    height: 100vw;
    width: 300px;
    float: left;
    .chat_side_user{
      background: #253141;
      height: 100px;
      .chat_side_user_content{
        padding: 35px 20px 35px 20px;
        .chat_side_user_name{
          font-size: 16px;
          font-weight: bold;
          color:#FFFFFF;
        }
        .chat_side_user_new_group{
          color: #FFFFFF;
          float: right;
        }
        .chat_side_user_edit_user{
          color: #FFFFFF;
          float: right;
          padding: 0 0 0  10px;
        }
      }
    }
    .chat_side_groups{
      padding: 0 20px 0 20px;
      .chat_side_groups_list{
        .chat_side_group{
          .chat_side_group_name{
            font-size: 15px;
            color:#FFFFFF;
            padding: 20px 0 0 0;
          }
          .chat_side_group_message{
            font-size: 11px;
            color: #FFFFFF;
            padding: 5px 0 40px 0;
          }
        }
      }
    }
  }

  .chat_main{
    // background: #AAAAAA;
    float: right;
    width: calc(100vw - 300px);
    height: 100vw;
    position: relative;
    .chat_main_header{
      background: white;
      // position: sticky;
      height: 100px;
      border-bottom: solid thin #eeeeee;
      top: 0;
      .chat_main_header_group_clearfix{
        padding: 0 40px 0 40px;
        line-height: center;
        // position: absolute;
        // top: 50%;
        // -ms-transform: translateY(-50%);
        // -webkit-transform : translateY(-50%);
        // transform : translateY(-50%);
        .chat_main_header_group_name{
          font-size: 20px;
          color: #333333;
          padding: 35px 0 0 0;
          float: left;
        }
        .chat_main_header_group_edit_btn{
          float: right;
          margin: 20px 0 0 0;
          border: solid thin #00bfff;
          padding: 10px 20px 10px 20px;
          .chat_main_header_group_edit_btn a{
          }
        }
        .chat_main_header_members{
          font-size: 12px;
          color: #999999;
          padding: 15px 0 0 0 ;
          clear: both;
        }
      }
    }
    .chat_main_body{
      background: white;
      padding: 46px 0 0 0;
      width: 100%;
      .chat_main_body_messages_list{
        padding: 0 0 40px 0;
        .chat_main_message.clearfix{
          padding: 0 40px 0 40px;
          .chat_main_message_name{
            font-size: 16px;
            font-weight: bold;
            color: #434A54;
            float: left;
            padding: 0 10px 0 0;
          }
          .chat_main_message_time{
            font-size: 12px;
            color: #999999;
          }
          .chat_main_message_body{
            font-size: 14px;
            color: #434A54;
            clear: both;
          }
        }
      }
    }
    .chat_main_footer{
      background: #AAAAAA;
      height: 90px;
      position: absolute;
      bottom: 0;
      width: 100%;
      .chat_main_footer_form{
        padding: 20px 40px 20px 40px;
        .chat_main_footer_body{
          position: relative;
          float: left;
          .message{
            width: 930px;
            height: 50px;
          }
          .chat_file{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            .image{
            }
            .fa fa-image{
            }
          }
        }
        .submit{
          color: white;
          height: 50px;
          padding: 10px 30px 10px 30px;
          border: solid thin #00bfff;
          background: #00bfff;
          margin: 0 0 0 15px;
        }
      }
    }
  }






// .chat_main_footer
//       %form#new_message.chat_main_footer_form{"accept-charset" => "UTF-8", :action => "/groups/1677/messages", :enctype => "multipart/form_data", :method => "post"}
//         %input{:name => "utf8", :type => "hidden", :value => "✓"}/
//         %input{:name => "authenticity_token", :type => "hidden", :value => "py3t6UMZPn7RNQXkBDmI6QK1Pl2A5sJttaWaJ4VtwdOO9Nr3lmOrrItqfCT+sFTS50yH0NFxBRh8MhzB57CWQg=="}/
//         .chat-main__footer-body
//           %input#message_body.message{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
//           %label.chat-file{:for => "message_image"}
//             %input#message_image.image{:name => "message[image]", :type => "file"}/
//             %i.fa.fa-image
//         %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
